@{
    ViewData["Title"] = "About XYZ ";
}
    <article>
        <h2>XYZ Detective Agency</h2>

        <p>
            Our agency was founded in 1960 by Scooby and Scrappy Doo.
            The agency expanded in the 1980's across the United States and is now the top
            agency in the midwest.
        </p>
        <p>
            In 2000, the agency expanded to Europe and in 2020, the agency will also be
            in Africa and Austrailia.
        </p>
    </article>
