@{
    ViewData["Title"] = "Contact Us!";
}
<div class="row">
    <div class="col-sm-8">
        <h2>XYZ Detective Agency</h2>
        <h3>Headquarters</h3>
        <address class="row">
            <i class="fa fa-info col-sm-2" style="font-size:48px;color:blue"></i>
            <div class="col-sm-8">
                One Sleuthton Ave<br />
                Traverse City, MI 49696<br />
                <abbr title="Phone">P:</abbr>
                800.555.1111
            </div>
        </address>
    </div>
    <img src="~/Images/spying.jpg" alt="telescope on deck" class="rounded-circle col-sm-4" />

    <div class="col-sm-12 mt-5">
        <a href="mailto:us@xyzdetectives.org">United States: us@xyzdetectives.org</a>
        <a href="mailto:europe@xyzdetectives.org">Europe: europe@xyzdetectives.org</a>
        <a href="mailto:africa@xyzdetectives.org">Africa: africa@xyzdetectives.org</a>
        <a href="mailto:austrailia@xyzdetectives.org">Austrailia: australia@xyzdetectives.org</a>
    </div>
</div>