@{
    ViewData["Title"] = "XYZ Detective Agency";
}

<div class="jumbotron">
    <h1>XYZ Detective Agency</h1>
    <p>
        <img src="~/Images/detective.png"
             alt="detective looking through a magnifying glass"
             style="float:right;width:50%;" />
    </p>
    <p class="lead">Discrete, Affordable, Effective, Efficient</p>
    <p>Rated #1 in the midwest</p>
</div>
